.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
}

.checkoutProduct__info {
  padding-left: 20px;
  /* padding: 5px 10px; */
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 500;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  padding: 5px 0;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}